/* + Hồng: #FA97C2
+ Xanh dương: #2FA0D5
+ Xanh lá: #73C926
- Định dạng chung */


body {
    font-family: 'Trebuchet MS', Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 20px;
}

header{
    font-weight: bold;
}

h1, h2, h3, h4, h5, h6  {
    font-family: 'Changa One', cursive, sans-serif;
    font-weight: bolder;
}

h1 {
    font-size: 40px;
    line-height: 60px;
    font-weight: 900;
}

header > nav > div > ul > li {
    padding: 0px 15px;
}


* {box-sizing:border-box}


.carousel-inner > .carousel-item {
    max-height: 400px;
    position: relative;
}

.carousel-inner > .carousel-item > .carousel-caption > h2{
    position: absolute;
    left: 30%;
    top: -500%;
    font-weight: 900;
    font-size: 50px;
}

.carousel-inner > .carousel-item > .carousel-caption > a{
    position: absolute;
    font-weight: 900;
    font-size: 30px;
    background-color: rgb(235, 157, 195);
    left: 42%;
    top: -180%;
}

.carousel-inner > .carousel-item > .carousel-caption > a:hover{
    background-color: white;
    color: rgb(234, 37, 132);
}

.Modal{
    position:absolute; /*or absolute*/
    z-index:100000; /*a number that's more than the modal box*/
    left:5%;
    top:0px;
}

.Modal_plus{
    position:absolute; /*or absolute*/
    z-index:100000; /*a number that's more than the modal box*/
    right:10%;
    top:0px;
}

.ModalCarrot{
    position:relative;
    z-index:-1;
}

.content_box > .col-3 > .card >.card-body > h3{
    font-weight: 900;
}

.paragrahp{
    background-color: rgb(247, 168, 204);
}

.email_form_sign{
    border: 1px solid black;
    border-radius: 5px;
    outline-style: dotted;
    padding: 10px 20px;
}

.email_form_sign >div > button {
    background-color: black ;
    color: white;
    padding: 5px 10px;
    font-size: 15px;
    border-radius: 10px;
    font-family: 'Changa One', cursive, sans-serif;
    font-weight: bolder;
}

.news-main > .row > .row > .col-md-4 > .row > .col-md-4 > h5{
    border: 1px solid rgb(85, 210, 76);
    background-color: rgb(85, 210, 76);
    color: white;
    padding: 10px 30px;
    font-size: 25px;
    border-radius: 20px;
    font-family: 'Changa One', cursive, sans-serif;
    font-weight: bolder;
}

.news-main > .title > h2{
    font-weight: 900;
    color: gray;
    font-weight: bolder;
}

.footer-main{
    background-image: url(../images/bg-footer.gif);
    background-color: black;
    color: white;
    font-weight: bolder;
}

.footer-main >div >div > ul > li > a{
    color: white;
}

#exampleModal > .modal-dialog > .modal-content >form > .modal-header {
    font-weight: 900;
    font-size: 30px;
    color: white;
    background-color: rgb(87, 194, 169);
}

header > nav > a > strong > div > div{
    max-width: 50px;
    max-height: 50px;
}

header > nav > div > ul > .nav-item.active > a{
    color: rgb(53, 193, 193) !important;
}

#banner-small {
    background-image: url('../images/banner-small.jpg');
    padding: 5px;
}

.web1-text{
    color: rgb(62, 162, 228) !important;
}