/* + Hồng: #FA97C2
+ Xanh dương: #2FA0D5
+ Xanh lá: #73C926
- Định dạng chung */


body {
    font-family: 'Trebuchet MS', Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 20px;
}

header{
    font-weight: bold;
}

h1, h2, h3, h4 {
    font-family: 'Changa One', cursive;
    font-weight: 400;
}

h1 {
    font-size: 40px;
    line-height: 60px;
    font-weight: 900;
}

header > nav > div > ul > li {
    padding: 0px 15px;
}


* {box-sizing:border-box}


.carousel-inner > .carousel-item {
    max-height: 400px;
    position: relative;
}

.carousel-inner > .carousel-item > .carousel-caption > h2{
    position: absolute;
    left: 30%;
    top: -500%;
    font-weight: 900;
    font-size: 50px;
}

.carousel-inner > .carousel-item > .carousel-caption > a{
    position: absolute;
    font-weight: 900;
    font-size: 30px;
    background-color: rgb(235, 157, 195);
    left: 42%;
    top: -180%;
}

.carousel-inner > .carousel-item > .carousel-caption > a:hover{
    background-color: white;
    color: rgb(234, 37, 132);
}

.Modal{
    position:absolute; /*or absolute*/
    z-index:100000; /*a number that's more than the modal box*/
    left:5%;
    top:0px;
}

.Modal_plus{
    position:absolute; /*or absolute*/
    z-index:100000; /*a number that's more than the modal box*/
    right:10%;
    top:0px;
}

.ModalCarrot{
    position:relative;
    z-index:-1;
}

